*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

main {
    max-width: 840px;
}

aside {
    position: relative;
    width: 15rem;
    text-align: center;
}

aside h2 {
    position: absolute;
    top: 15px;
    left: 23px;
}

aside img {
    width: 200px;
    height: auto;
}

h1 {
    color: steelblue;
}

main img {
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

footer {
    margin-top: 20px;
    border-top: 2px solid #2c394d;
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    padding: 1rem;
    border: 2px solid rgb(52, 158, 240);
    background-color: rgb(164, 212, 249);
    color: rgb(15, 50, 96);
}