/* General */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

/* Header */

header {
    display: flex;
    flex-direction: column;
}

nav {
    background-color: steelblue;
    padding: 1rem /*10px*/;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
}

/* Main and aside (use .grid class) */

main {
    grid-column: 2/3;
    margin: 1rem;
}

aside {
    position: relative;
    width: 15rem;
    text-align: center;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside h2 {
    position: absolute;
    top: 15px;
    left: 23px;
}

aside img {
    width: 200px;
    height: auto;
}

h1 {
    color: steelblue;
    border-bottom: 2px solid steelblue
}

main img {
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

/* Footer */

footer {
    margin-top: 20px;
    border-top: 2px solid #2c394d;
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    padding: 1rem;
    border: 2px solid rgb(52, 158, 240);
    background-color: rgb(164, 212, 249);
    color: rgb(15, 50, 96);
}

.grid {
    display: grid;
    align-items: center;
}